<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <nav>

        <div class="site-title">

            <a href="/"><h1>Blog TheOnionTech</h1></a>

            <p><%= msg%></p>

        </div>

        <ul>

            <li><a href="/">Blogs</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/blogs/create">New blog</a></li>

        </ul>

    </nav>



    <div class="not-found content">

        Oops, page not found!

    </div>

</body>

</html>